<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapped Flights</title>
</head>
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<body>
<h1>Scrapped Flights</h1>

<ul>
    {{ range .Flights }}
        <b>{{.Airline}}</b>
        <table style="width:100%">
            <tr>
                <th>{{.Departure}}</th>
                <th>{{.Arrival}}</th>
                <th>{{.DepartureTime}}</th>
                <th>{{.ArrivalTime}}</th>
                <th>{{.Number}}</th>
                <th>{{.Duration}}</th>
                <th>{{.Price}}</th>
            </tr>
        </table>
    {{ end }}
</ul>

</body>
</html>
